@import "../styles/Variables.scss";

@font-face {
  font-family: "Sedan SC";
  src: url("../fonts/SedanSC-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sedan SC";
  font-weight: 10;
}
.contact {
  background: linear-gradient(#f8feff, #aad8a0, #608749, #0d1f03);
}