@import "../styles/Variables.scss";

@font-face {
  font-family: "Sedan SC";
  src: url("../fonts/SedanSC-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sedan SC";
  font-weight: 10;
}
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.contact {
  background: linear-gradient(#f8feff, #aad8a0, #608749, #0d1f03);
  &__logo-container{
    @include center-column;
  }
}
