.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin-top: 12rem;
    background-color: white;
}

.logo{

}

.navLinks{
    display: flex;
    gap: 2rem;
}

.navItem{
    text-decoration: none;
    // color: inherit;
    font-weight: bold;
}

.socialLinks{

}