.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 20px 0;
}

.logoContainer {
  margin-bottom: 20px;
}

.logo {
  width: 200px;
  height: auto;
}

.navContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  font-family: "Sedan SC";
  text-decoration: none;
}

.navContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-family: "Sedan SC";
  text-decoration: none;
  margin-bottom: 20px;
}

.socialIcons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 15px;
}

.socialIcon {
  width: 45px;
  height: 45px;
}

.navButton {
  font-size: 1.5rem;
  text-decoration: none;
  color: gray;
  padding: 0 10px;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .linkContainer {
    flex-direction: column;
    gap: 15px;
  }

  .socialIcon {
    width: 35px;
    height: 35px;
  }

  .socialIcons {
    gap: 15px;
  }
}