
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sedan SC";
  font-weight: 10;
}

.page{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.96), #000 99.99%, #fff, #000);
}