@import url("https://fonts.googleapis.com/css2?family=Sedan+SC:wght@400&display=swap");


.header {
display: flex;
}
.headerIcon {
  object-fit: cover;
  height: 5rem;
}


.mainInner,
.desktopPortfolioCategories {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mainInner {
  padding: 0 var(--padding-xl);
}
.desktopPortfolioCategories {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding: 2.125rem 0 10.812rem;
  background: linear-gradient(180deg, rgba(23, 23, 23, 0.96), #000 99.99%, #fff, #000);
  gap: 1rem;
}


.masonry {
  display: flex;
  flex-flow: column;
  padding:5rem;
  gap: 1rem;
  justify-content: space-between;
}
.gridColumns {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2rem;
}

@media screen and (max-width: 725px) {
  .desktopPortfolioCategories {
    gap: 1.188rem;
  }
  .gridColumns {
   display: grid;                                                /* 1 */
  grid-auto-rows: 50px;                                         /* 2 */                                           /* 3 */
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
  .masonry {
    display: flex;
    flex-flow: column;
    gap: 5rem;
    padding: 2rem;
    justify-content: space-between;
  }

}
